fastapi
uvicorn
chromadb
google-generativeai
python-dotenv
langchain
langchain-community
langchain-text-splitters
tqdm
requests
beautifulsoup4
markdown
Pillow
numpy
pandas
jupyter
opentelemetry-api>=1.20.0
opentelemetry-sdk>=1.20.0
opentelemetry-instrumentation>=0.41b0
opentelemetry-exporter-otlp-proto-grpc>=1.2.0
protobuf==3.19.6
sympy==1.13.1
